@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body{
    color: #2d2f3c;
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3,h4{
    color:#CB4335;
}

a {
    text-decoration: none;
    color: #CB4335;
}

a:hover {
    color: CB4335;
}

.errors {
    font-size: .875em;
    margin-top: 0.25em;
    color: #e60553;
    display: block;
}

.border-left-info {
    border-left: .25rem solid #CB4335 !important;
}

.radio-card:hover {
    border: 2px solid #CB4335;
    cursor: pointer;
}

.listing:hover{
    border: 1px solid #CB4335;
}

.step-tabs.active {    
    color: #CB4335;
    font-weight: 800;
    border-bottom: 2px solid#CB4335;
}

.step-tabs.disabled {
    color: #aeafb3;
}

.card-summary:hover{
    border: 2px solid#CB4335;
    background-color: #FADBD8;
    color:#CB4335;
}

.bg-primary-subtle{
    background-color: #FADBD8;
}

.text-bg-pending {
    color: #000 !important;
    background-color: #FFC300;
}

.text-bg-rejected {
    color: #000 !important;
    background-color: #C70039;
}

.text-bg-approved {
    color: #000 !important;
    background-color: #0C9018;
}