body{
    color: #2d2f3c;
}

h1,h2,h3,h4{
    color:#ad0fd4;
;
}
a {
    text-decoration: none;
    color: #ad0fd4;
}

a:hover {
    color: #bc11e7;
}
.errors {
    font-size: .875em;
    margin-top: 0.25em;
    color: #e60553;
    display: block;
}

.border-left-info {
    border-left: .25rem solid #ad0fd4 !important;
}

.radio-card:hover {
    border: 2px solid #ad0fd4;
    cursor: pointer;
}

.listing:hover{
    border: 1px solid #592366;
}

.step-tabs.active {    
    color: #ad0fd4;
;
    font-weight: 800;
    border-bottom: 2px solid#ad0fd4;
;
}

.step-tabs.disabled {
    color: #aeafb3;
}