body{
    color: #2d2f3c;;
}

h1,h2,h3,h4{
    color:#4e73df;
}
a {
    text-decoration: none;
    color: #DE3163;
}

a:hover {
    color: #bb0d4a;
}
.errors {
    font-size: .875em;
    margin-top: 0.25em;
    color: #e60553;
    display: block;
}

.border-left-info {
    border-left: .25rem solid #016787 !important;
}

.radio-card:hover {
    border: 2px solid #016787;
    cursor: pointer;
}

.listing:hover{
    border: 2px solid #252627;
}

.step-tabs.active {
    
    color: #4e73df;
    font-weight: 800;
    border-bottom: 2px solid#016787;
}

.step-tabs.disabled {

    color: #aeafb3;
}