<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard - Your rental Manager</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d20aaabaac.js" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <header th:replace="~{components/header :: header}"></header>

    <main class="container py-4">

        <div class="row">
            <h3 class="my-3">About the application</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="'Submitted on: '+${#dates.format(appli.createdOn,'MMM d, YYYY')}">
                </li>
                <li class="list-group-item" th:text="'Deposit: '+${appli.deposit}"></li>
                <li class="list-group-item" th:text="'Rent: '+${appli.rentPrice}"></li>
                <li class="list-group-item" th:text="'Lease length : '+${appli.leaseLength}+'months'"></li>
                <li class="list-group-item">Status :
                    <span class="badge" th:classappend="'text-bg-'+${appli.status}" th:text="${appli.status}"></span>
                    <a href="#" class="btn btn-outline-success btn-sm"
                        th:if="${controllerPath}=='applicant' and  ${appli.status}=='approved'">
                        Sign Lease</a>
                </li>
            </ul>

            <h3 class="my-3">Property Details</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="'Name: '+${appli.property.name}"></li>
                <li class="list-group-item" th:text="'Address: '+${appli.property.address}"></li>
            </ul>

            <h3 class="my-3">Applicant Detail</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"
                    th:text="'Name: '+${appli.applicant.firstname}+' '+${appli.applicant.lastname}"></li>
                <li class="list-group-item" th:text="'Current Address: '+${appli.applicant.currentAddress}"></li>
                <li class="list-group-item" th:text="'Income : '+${appli.applicant.annualSalary}+'/annually'"></li>
                <li class="list-group-item" th:text="'Employer : '+${appli.applicant.employerName}"></li>
                <li class="list-group-item" th:text="'Vehicules Infos : '+${appli.applicant.vehiculeInfos}"></li>
            </ul>


        </div>


        <div class="row my-3" th:if="${appli.property.owner.profile.id} == ${loggedUser.id}">
            <div class="d-flex">
                <a href="/owner/${loggedUser.id}/applications/${appli.id}/status?status=1"
                    class="btn btn-outline-primary">Approve </a>
                <a href="/owner/${loggedUser.id}/applications/${appli.id}/status?status=0"
                    class="btn btn-danger mx-3">Reject</a>
                <a href="/owner" class="btn btn-light">Cancel</a>
            </div>
        </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>